@use './root/components.scss';

@include components.Browser;

@media(min-width:950px){
@include components.AboutUs_desktop;
@include components.Contact_desktop;
@include components.Portfolio_desktop;
@include components.Error_desktop;
@include components.Header_desktop;
@include components.Footer_desktop;
@include components.Credits_desktop;
}

@media(min-width:795px) and (max-width:949px){
@include components.AboutUs_tablet;
@include components.Contact_tablet;
@include components.Portfolio_tablet;
@include components.Error_tablet;
@include components.Header_tablet;
@include components.Footer_tablet;
}

@media(min-width:10px) and (max-width:794px){
    @include components.AboutUs_mobile;
    @include components.Contact_mobile;
    @include components.Portfolio_mobile;
    @include components.Error_mobile;
    @include components.Header_mobile;
    @include components.Footer_mobile;
    }
