@use '../../root/module.scss';

@mixin Contact_desktop {
        #Contact {
            @include module.flex-column;
            @include module.position-center;
            @include module.background-tech2;
            background-color: #666;
            color: #bbb;
            width: 100%;
            height: 97vh;

            .card {
                @include module.flex-column;
                @include module.position-center;
            }
            button{
                width: 100px;
                border:none;
                background-color: #11464a;
                border-radius:10px;
                font-weight: bold;
                margin: 10px;
                padding: 10px;
                color:#fff;
                font-size: 15px;
                margin-top: 50px;
                box-shadow:0 0 5px gold;
                &:hover{ 
                background-color: #117d86;
                box-shadow: 0 0 10px gold; 
                }
                &:active{
                color:gold;
                    background-color: #f8241f;
                    box-shadow: 0 0 25px gold; 
                }
            }
        
        }
    }
