@use '../../root/module.scss';

@mixin Header_desktop {
        #Header {
            position: fixed;
            @include module.flex-row;
            @include module.position-space;
            @include module.background-marmore;
            width: 100%;
            height: 50px;
            padding: 10px;
            z-index: 10;
            button{
                visibility: hidden;
            }
            .logo {
                @include module.flex-row;
                @include module.position-center;
            }

            .iconLogo {
                color: #f2f200;
                @include module.background-glitter;
                @include module.icon-size3;
                border-radius: 100%;
                animation: rotateFrame 10s infinite;
            }

            .titleHeader {
                @include module.background-glitter;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-size: 40px;
                margin-left: 15px;
                &:before {
                    content: "Fausto Garcia Jacinto Silva";
                }
            }
            .btnMobile{
                visibility: hidden;
            }
            .menu {
                @include module.flex-row;
                @include module.position-space;
                @include module.background-glitter;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                width: 350px;
                margin-right:10px;

                a {
                    margin: 0px;
                    font-size: 18px;
                    padding: 10px;

                    &:hover {
                        padding: 8px;
                        font-weight: bold;
                    }
                }
            }
            .controls{
                display: none;
            }
        }
    }

    @keyframes rotateFrame {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(60deg);
        }

        75% {
            transform: rotate(-60deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
