@use '../../root/module.scss';

@mixin Portfolio_desktop {
    #Portfolio {
      @include module.flex-column;  
      @include module.background-tech4;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 97vh;
      scroll-behavior: auto;
      }
      h1{
        color: #222;
      }
      img{
        height: 350px;
        width: 350px;
      }

  }
