@use '../root/module.scss';

@mixin AboutUs {
    #AboutUs {
        padding-top: 50px;
        @include module.flex-column;
        @include module.background-fundo1;
        font-size: 30px;

        .titleInfo {
            font-weight: bold;
           &::before {
                content: '';
                animation: info 10s infinite;
            }
            @include module.background-marmore;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin-left: 100px;

        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 200px 100px;
        }

        .iconNode,
        .iconReact,
        .iconSass,
        .iconMongo {
            @include module.icon-size7;
            margin: 10px;
        }

        .infoAbility {
            padding-left: 25px;
            padding-right: 5px;
            width: 100%;
            @include module.flex-row;
            @include module.position-space;
        }

        .ability {
            @include module.flex-column;
            @include module.position-center;
            margin-top: 25px;
            color: #ffcb1a;
            .title{
                text-decoration: underline;
            }
        }

        .card {
            @include module.flex-row;
            @include module.position-space;
            width: 100%;
            height: 250px;
        }

        .card-photo {
            @include module.flex-row;
            @include module.position-center;
            @include module.background-glitter;
            margin-left: 50px;
            width: 50%;
            height: 220px;
            border-radius: 200px 100px;
        }

        .card-description {
            animation: molecule 15s infinite;
            margin-left: 10px;
            margin-right: 10px;
            flex-wrap: wrap;
            background-image: radial-gradient(#888, #666, #444, #222, #000);
            width: 700px;
            color: #cdd20b;

            p {
                font-size: 17px;
                font-weight: bold;
                padding: 30px;
            }
        }

        .infoIcons {
            font-size: 18px;

            &::before {
                content: '';
                animation: infoIcons 15s infinite;
            }
        }

        .iconNode {
            animation: Node 15s infinite;
        }

        .iconReact {
            animation: React 15s infinite;
        }

        .iconSass {
            animation: Sass 15s infinite;
        }

        .iconMongo {
            animation: Mongo 15s infinite;
        }
        .network{
            @include module.flex-column;
            @include module.background-fundo3;
            @include module.position-center;
            margin-top: 40px;
            padding-top: 80px;
            height: 600px;
            h5{
                color:#ffcb1a;
            }
           
            .social{
                @include module.flex-column;
                @include module.position-center;
                margin: 50px 0px;
                width: 25%;
                height: 150px;
            }
            .alert{
                margin-top: 15px;
                margin-bottom: 15px;
                color:#ff8000;
                font-size: 17px;
            }
            p{
                color:#fff;
                font-weight: bold;
                font-size: 17px;  
            }
            button{
                width: 50%;
                border:none;
               
                background-color: #117d86;
                
                border-radius:10px;
                font-weight: bold;
                margin: 10px;
                padding: 10px;
                color:#fff;
                &:hover{
                   
                background-color: #11464a;
                color:#f8241f;
                }
                &:active{
                    
                color:#11464a;
                    background-color: #f8241f;
                }
            }
        }
        .iconNetwork{
            margin-top: 15px;
            @include module.flex-row;
            @include module.position-space;
            width: 70%;
        }
            .iconLinkedin{
                @include module.icon-size4;
                @include module.icon-linkedin;
            }
            .iconGit{
                @include module.icon-size4;
                @include module.icon-git;
            }
            .contactNetwork{
                margin-top: 30px;
                margin-bottom: 50px;
                @include module.flex-column;
                @include module.position-center;
                width: 500px;
                input{
                    margin: 10px;
                    width: 200px;
                    background-color:#bbb;
                    color:#01f3db;
                }
                textarea{
                    background-color:#bbb;
                    resize: none;
                    width:320px;
                    height: 150px;
                }
            }
            
            
            
            











     ///////////////////////////////////////////   
        @keyframes molecule {
            0% {
                border-radius: 50px;
            }

            25% {
                border-radius: 100px 50px;
            }

            50% {
                border-radius: 100px 100px;
            }

            75% {
                border-radius: 50px 100px;

            }

            100% {
                border-radius: 50px;
            }
        }

        @keyframes Node {
            0% {
                @include module.icon-node;
            }

            25% {
                @include module.icon-gold;
            }

            75% {
                @include module.icon-gold;
            }

            100% {
                @include module.icon-gold;

            }
        }

        @keyframes React {
            0% {
                @include module.icon-gold;
            }

            25% {
                @include module.icon-react;
            }

            75% {
                @include module.icon-gold;
            }

            100% {
                @include module.icon-gold;

            }
        }

        @keyframes Sass {
            0% {
                @include module.icon-gold;
            }

            25% {
                @include module.icon-gold;
            }

            75% {
                @include module.icon-sass;
            }

            100% {
                @include module.icon-gold;

            }
        }

        @keyframes Mongo {
            0% {
                @include module.icon-gold;
            }

            25% {
                @include module.icon-gold;
            }

            75% {
                @include module.icon-gold;
            }

            100% {
                @include module.icon-mongoDB;

            }
        }

        @keyframes infoIcons {
            0% {
                content: 'Backend - Node.js';

                color: #0ef202;
            }

            25% {
                content: 'Frontend - React.js';

                color: #01f3db;
            }

            75% {
                content: 'Desing - Sass';

                color: #ee00f4;
            }

            100% {
                content: 'Banco de Dados - MongoDB';
                color: #0ef202;
            }

        }

        @keyframes info {
            0% {
                content: 'Desenvolvedor Fullstack Junior';
            }

            100% {
                content: 'Developer Fullstack Junior';
            }
        }
    }
}