@mixin glitter {
    background-image: url('../imgs/glitter.gif');
    background-size: 100%;
}
@mixin prata {
    background-image: url('../imgs/prata.jpg');
    background-size: 100%;
}
@mixin marmore {
    background-image: url('../imgs/marmore.jpg');
    background-size: 100%;
}
@mixin tech {
    background-image: url('../imgs/tec.gif');
    background-size: 100%;
}
@mixin tech1 {
    background-image: url('../imgs/tec1.gif');
    background-size: 100%;
}
@mixin tech2 {
    background-image: url('../imgs/tec2.gif');
    background-size: 100%;
}
@mixin tech5 {
    background-image: url('../imgs/tec4.gif');
    background-size: 100%;
}
@mixin tech3 {
    background-image: url('../imgs/tec3.gif');
    background-size: 100%;
}
@mixin tech4 {
    background-image: url('../imgs/tec5.jpg');
    background-size: auto;
    background-repeat:no-repeat;
}
@mixin carbono {
    background-image: url('../imgs/carbono.jpg');
    background-size: auto;
}
@mixin project {
    background-image: url('../imgs/project.png');

    background-size:contain;
}
@mixin developer {
    background-image: url('../imgs/developer.gif');
    background-repeat: no-repeat;
    background-size:auto;
}
@mixin fundo1 {
    background-color:#525252;
}
@mixin fundo2 {
    background-color: #ffcb1a;
}
@mixin fundo3 {
    background-color:#333333;
}