@use '../../root/module.scss';

@mixin Contact_tablet {

        #Contact {
            @include module.flex-column;
            @include module.position-center;
            @include module.background-tech;
           
            width: 100%;
            height: 97vh;
            
            .card {
                @include module.flex-column;
                @include module.position-center;
            }
            h1{
                font-size: 24px ;
                margin-bottom: 10px;
            }
            h1,h2{
                @include module.background-glitter;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;

            }
        }
    }
