@forward '../components/tablet/AboutUsTablet';
@forward '../components/tablet/ContactTablet';
@forward '../components/tablet/ErrorTablet';
@forward '../components/tablet/PortfolioTablet';
@forward '../components/tablet/HeaderTablet';
@forward '../components/tablet/FooterTablet';

@forward '../components/desktop/AboutUs_desktop';
@forward '../components/desktop/Contact_desktop';
@forward '../components/desktop/Error_desktop';
@forward '../components/desktop/Portfolio_desktop';
@forward '../components/desktop/Header_desktop';
@forward '../components/desktop/Footer_desktop';

@forward '../components/mobile/AboutUs_mobile';
@forward '../components/mobile/Contact_mobile';
@forward '../components/mobile/Error_mobile';
@forward '../components/mobile/Portfolio_mobile';
@forward '../components/mobile/Header_mobile';
@forward '../components/mobile/Footer_mobile';

@forward '../components/Browser';