@use '../../root/module.scss';
@mixin Error_mobile {
    #Error{

        @include module.flex-column;
        @include module.position-center;
        color:#111;
        width: 100%;
        height: 97vh;
        img{
            width: 550px;
            height: 350px;
        }
        
    }
}