@use '../../root/module.scss';
@mixin Footer_mobile{
    #Footer{
        @include module.flex-row;
        @include module.position-center;
        @include module.background-marmore;
        width: 100%;
        height: 20px;
       bottom: 0px;
    }
}